<!-- <nav class="navbar"> -->
<!--   <a class="navbar-brand p-1" href="#"> -->
<!--     <img -->
<!--       src="https://rxjs.dev/generated/images/marketing/home/Rx_Logo-512-512.png" -->
<!--       width="30" -->
<!--       height="30" -->
<!--       class="d-inline-block align-top" -->
<!--       alt="" -->
<!--     /> -->
<!--     Neon -->
<!--   </a> -->
<!-- </nav> -->

<p>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Neon Stopwatch</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
